



  <div class="totalnumberofcontacts">
    <h2>There are <%= @contacts.count %> gladiators in the Arena.</h2>
  </div>
  <div>
    <% @contacts.each { |contact| %>
      <a href="/contacts/<%= contact.id %>">
        <div class="contactreadouts">
          <h2>
            <%= contact.full_name %> (<%= contact.email %>)
          </h2>
          <p>Tips:<%= contact.id %></p>
        </div>
      </a>
    <% } %>
  </div>
