


<h3>Name:
  <%= @contact.full_name %></h3>
<h3>Email:
  <%= @contact.email %></h3>
<h3>Notes:
  <%= @contact.note %></h3>

  <a href="/contacts/<%= @contact.id %>/edit">EDIT</a>


          <form action='/contacts/<%= @contact.id%>' method='post'>
            <input type='hidden' name='_method' value='delete'>
            <button type='submit' value='Delete Contact'>DELETE</button>
          </form>

<a href="/contacts">Back</a>
